# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
build/
out-tsc/
tmp/
*.tsbuildinfo

# Nx
.nx/cache
.nx/workspace-data

# Tests / coverage
coverage/

# Environnement
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editeurs / OS
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
*.swp

# Frontend
.vite/
.next/
.expo/
